{% extends 'list-book.html.twig' %}

{% block title %}My cart{% endblock %}

{% block bodyTitle %} Cart {% endblock %}

{% block listing %}

{% if app.user.cart.books|length == 0 %}
    <h2> your cart is currently empty you can check our <a href="{{path('app_BookController_searchBookList')}}">catalog</a> to add books in your cart.</h2>
{% else %}

    <table class="fl-table">
        <thead>
            <tr>
                <th> Title </th>
                <th> Author </th>
                <th> Publishing House </th>
                <th> Price </th>
                <th> NB </th>
                <th> Actions </th>
                <th> Total </th>
            </tr>
        </thead>
        <tbody>
        {{form_start(form)}}
    {% for index,book in books %}
        {% if index < form.numberOfBooks|length %}
        
        {% set field = form.numberOfBooks[index] %}
        
            <tr>
                <td>{{ book.title }}</td>
                <td>
                {% if book.author %}
                    {{ book.author.name }}
                {% endif %}
                </td>
                <td>
                {% if book.publishinghouse %}
                    {{ book.publishinghouse.name }}
                {% endif %}
                </td>
                <td id="bookPrice">{{ book.price }}</td>
                <td>
                
                 <input type="number" name="{{field.vars.full_name}}" value="{{field.vars.value}}" id="number" min="1"> 
                 
                 </td>
                <td> 
                    <a href="{{path('app_CartController_deteleBook', {id: book.id})}}" title="Delete from cart">
                    <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
                <td id="total">

                </td>
            </tr>
        {% endif %}
    {% endfor %}
        <tbody>
    </table>

    {% if app.user.cart.books|length > 0 %}
    <h2>Total : <span id="cartTotal"></span> </h2> 
    {% endif %}

    {{ form_widget(form.Checkout) }}
    {{ form_end(form, {render_rest: false}) }}
{% endif %}

<a class="btn btn-primary" href="{{ path('app_BookController_searchBookList')}}" role="button">Add more books</a>
<script>


const input = document.querySelectorAll("#number");

const bookPrice = document.querySelectorAll("#bookPrice");

const result = document.querySelectorAll('#total');

const cartTotal = document.getElementById('cartTotal'); 

function roundNumber(number) {
    return Math.round(number * 100)/100;
}

function totalPrice (bookPrice, number) {
    return roundNumber(parseFloat(bookPrice)*parseFloat(number));
}

function handleInputs (e,i) {
    
    result[i].innerHTML = totalPrice(bookPrice[i].innerHTML,e);

    if(!e){
        result[i].innerHTML = 0;
    }
    updateCartTotal()
}

function updateCartTotal(){
    const numbers = [];
    result.forEach(elt => {
        numbers.push(parseFloat(elt.textContent));
    });
    const sum = roundNumber(numbers.reduce((a,c)=>a+c,0));
    cartTotal.innerHTML = sum;
}

for(let i = 0; i < input.length; i++) {
    input[i].addEventListener('input', (e) => handleInputs(e.target.value,i))
}

$('*[id*=total]:visible').each(function(i) {
   $(this).text(totalPrice(input[i].value, bookPrice[i].innerHTML));
});

$('#cartTotal').load(updateCartTotal());

</script>

{% endblock %}

