{% extends 'base.html.twig' %}

{% block title %}Author Catalog
{% endblock %}

{% block body %}
	<h1>
		Welcome to our Author Catalog
	</h1>

	<p>
		Here you can find our list of author or you can fill the form to find a specific author
	</p>

	<div> 
				<button type="button" class="btn btn-primary" id="toggle-btn" data-toggle="collapse" data-target="#toggle-example" aria-expanded="false" aria-controls="collapseExample">
					Click me
				</button>

				<div id="toggle-example" class="collapse">
					{{ form(form)}}
				</div>
			</div>

            
	</br>
	<table class="fl-table">
		<thead>
			<tr>
				<th>
					Id
				</th>
				<th>
					Name
				</th>
				<th>
					Description
				</th>
				<th>
					Books
				</th>
			</tr>
		</thead>
		<tbody>
			{% for author in authors %}

				<tr>
					<td>{{ author.id }}</td>
					<td>
						<a href="{{ path('app_AuthorController_viewAuthor',{id: author.id}) }}"> 
							{{ author.name }}
						</a>
						
					</td>
					<td>{{ author.description|length > 25 ? author.description|slice(0,25) ~ ('...') : author.description }}</td>

					{% if author.books %}
						<td>
							{% for book in author.books %}
								{{ book.title }},
							{% endfor %}
						</td>
					{% else %}
						<td></td>
					{% endif %}

				</tr>

			{% endfor %}
		</tbody>
		<tbody></tbody>
	</table>
	<nav class="pagination">
		{{ knp_pagination_render(authors) }}
	</nav>
{% endblock %}
