{% extends 'base.html.twig' %}

{% block title %}Genres listing{% endblock %}

{% block body %}
        <h1> Genres listing </h1>
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th> Id </th>
                        <th> title </th>
                        <th> Created at </th>
                        <th> Updated at </th>
                        <th> Actions </th>
                    </tr>
                </thead>
                <tbody>
            
                    {% for genre in genres %}

                    <tr>
                        <td>{{ genre.id }}</td>
                        <td>{{ genre.title }}</td>
                        <td>{{ genre.createdAt|date('d-m-Y') }}</td>
                        <td>{{ genre.updatedAt|date('d-m-Y') }}</td>
                        <td> 
                            <a href="{{ path('app_AdminGenreController_update', {id: genre.id}) }}">
                            <i class="fa-solid fa-square-pen"></i>
                            </a>

                            <a href="{{ path('app_AdminGenreController_delete', {id: genre.id}) }}">
                            <i class="fa-solid fa-trash"></i>
                            </a>

                        </td>
                    </tr>

                    {% endfor %}
                <tbody>
            </table>
        </div>
{% endblock %}