{% extends 'list-book.html.twig' %}

{% block listing %}
<table class="fl-table">
    <thead>
        <tr>
            <th> Title </th>
            <th> Description </th>
            <th> Author </th>
            <th> Publishing House </th>
            <th> Genres </th>
            <th> Price </th>
            <th> Created at </th>
            <th> Updated at </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
{% for book in books %}

        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.description|length > 25 ? book.description|slice(0,25) ~ ('...') : book.description }}</td>
            <td>
             {% if book.author %}
                {{ book.author.name }}
            {% endif %}
            </td>
            <td>
             {% if book.publishinghouse %}
                {{ book.publishinghouse.name }}
            {% endif %}
            </td>
            <td>
             {% for genre in book.genres %}
                {{ genre.name }}, 
            {% endfor %}
            </td>
            <td>{{ book.price }}</td>
            <td>{{ book.createdAt|date('d-m-Y') }}</td>
            <td>{{ book.updatedAt|date('d-m-Y') }}</td>
            <td> 
                <a href="{{ path('app_AdminBookController_update', {id: book.id}) }}">
                <i class="fa-solid fa-square-pen"></i>
                </a>

                <a href="{{ path('app_AdminBookController_delete', {id: book.id}) }}">
                <i class="fa-solid fa-trash"></i>
                </a>

            </td>
        </tr>

{% endfor %}
    <tbody>
</table>
{% endblock %}

