{% extends 'list-book.html.twig' %}

{% block listing %}

{% for book in books %}
    <h2>{{ book.title }}</h2>
    <ul>
        <li>{{ book.genre }}</li>
        <li>{{ book.description }}</li>
        <li>{{ book.createdAt|date('d-m-Y') }}</li>
        <li>{{ book.updatedAt|date('d-m-Y') }}</li>
    </ul>
{% endfor %}

{% endblock %}

