<li tabindex="0" class="has-subnav" title="Admin books" data-toggle="popover" data-placement="right" data-trigger="focus" data-html="true" data-content='
																	                    <li class="has-subnav">
																					<a href="{{ path('app_AdminBookController_list') }}">
																						<i class="fa-solid fa-book fa-2x"></i>
																						<span class="nav-text">
																							Our Library
																						</span>
																					</a>
																				</li>
	
																				<li class="has-subnav">
																					<a href="{{ path('app_AdminBookController_create') }}">
																											<i class="fa-solid fa-circle-plus fa-2x"></i>
																											<span class="nav-text">
																												Add new book
																											</span>
																										</a>
																									</li>
																						                '>
	<a>
		<i class="fa-solid fa-book fa-2x"></i>
		<span class="nav-text">
			Books
		</span>
	</a>
</li>

<li tabindex="0" class="has-subnav" title="Admin users" data-toggle="popover" data-placement="right" data-trigger="focus" data-html="true" data-content='
														<li class="has-subnav">
													<a href="{{ path('app_AdminUserController_list') }}">
														<i class="fa-solid fa-user-group fa-2x"></i>
														<span class="nav-text">
															List of users
														</span>
													</a>
												</li>
	
												<li class="has-subnav">
													<a href="{{ path('app_AdminUserController_create') }}">
																	<i class="fa-solid fa-circle-plus fa-2x"></i>
																	<span class="nav-text">
																		Add new user
																	</span>
																</a>
															</li>
																'>
	<a>
		<i class="fa-solid fa-user-group fa-2x"></i>
		<span class="nav-text">
			Users
		</span>
	</a>
</li>

<li tabindex="0" class="has-subnav" title="Admin users" data-toggle="popover" data-placement="right" data-trigger="focus" data-html="true" data-content='
									<li class="has-subnav">
									<a href="{{ path('app_AdminGenreController_list') }}">
										<i class="fa-solid fa-scroll fa-2x"></i>
										<span class="nav-text">
											List of genres
										</span>
									</a>
								</li>
	
								<li class="has-subnav">
									<a href="{{ path('app_AdminGenreController_create') }}">
												<i class="fa-solid fa-circle-plus fa-2x"></i>
												<span class="nav-text">
													Add new genre
												</span>
											</a>
										</li>
										'>
	<a>
		<i class="fa-solid fa-scroll fa-2x"></i>
		<span class="nav-text">
			Genres
		</span>
	</a>
</li>

<li tabindex="0" class="has-subnav" title="Admin users" data-toggle="popover" data-placement="right" data-trigger="focus" data-html="true" data-content='
					<li class="has-subnav">
					<a href="{{ path('app_AdminAuthorController_list') }}">
						<i class="fa-solid fa-feather fa-2x"></i>
						<span class="nav-text">
							List of Authors
						</span>
					</a>
				</li>
	
				<li class="has-subnav">
					<a href="{{ path('app_AdminAuthorController_create') }}">
							<i class="fa-solid fa-circle-plus fa-2x"></i>
							<span class="nav-text">
								Add new Author
							</span>
						</a>
					</li>
					'>
	<a>
		<i class="fa-solid fa-feather fa-2x"></i>
		<span class="nav-text">
			Authors
		</span>
	</a>
</li>

<li tabindex="0" class="has-subnav" title="Admin users" data-toggle="popover" data-placement="right" data-trigger="focus" data-html="true" data-content='
					<li class="has-subnav">
					<a href="{{ path('app_AdminPublishingHouseController_list') }}">
						<i class="fa-solid fa-house fa-2x"></i>
						<span class="nav-text">
							List of Publishing Houses
						</span>
					</a>
				</li>
	
				<li class="has-subnav">
					<a href="{{ path('app_AdminPublishingHouseController_create') }}">
							<i class="fa-solid fa-circle-plus fa-2x"></i>
							<span class="nav-text">
								Add new Publishing House
							</span>
						</a>
					</li>
					'>
	<a>
		<i class="fa-solid fa-house fa-2x"></i>
		<span class="nav-text">
			Publishing Houses
		</span>
	</a>
</li>
