{% extends 'list-book.html.twig' %}

{% block title %}Orders history{% endblock %}

{% block bodyTitle %} Every users oders history {% endblock %}

{% block listing %}

    <table class="fl-table">
        <thead>
            <tr>
                <th> Id </th>
                <th> User Id </th>
                <th> Total </th>
                <th> Ordered date </th>
                <th> Payment </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>

    {% for order in orders %}
        <tr>
            <td> <a href="{{path('app_OrderController_showOrder',{id:order.id} )}}"> {{ order.id }} </a> </td>
            <td> <a href="{{ path('app_AdminUserController_update', {id: order.user.id}) }}"> {{order.user.id}} </a> </td>
            <td> {{order.totalPrice}} </td>
            <td> {{order.orderedDate|date('d-m-Y')}} </td>
            <td> {{order.success ? "success" : "failed" }} </td>
            <td> </td>
        </tr>
        
    {% endfor %}
        <tbody>
    </table>
{% endblock %}