{# <div class="area"></div> #}
<nav class="main-menu">
	<ul>

		<li class="has-subnav">
			<a href="{{ path('app_home_index') }}">
				<i class="fa-solid fa-house fa-2x"></i>
				<span class="nav-text">
					Home
				</span>
			</a>
		</li>

		{% if is_granted('ROLE_ADMIN') %}
			{% include 'admin/sidebar.html.twig' %}
		{% elseif is_granted('ROLE_USER') %}
			{% include 'user/sidebar.html.twig' %}
		{% endif %}


	</ul>


	<ul class="logout">
		{% if app.user %}

			<li class="has-subnav">
				<a href="{{ path('app_SecurityController_myProfile') }}">
					<i class="fa-solid fa-user fa-2x"></i>
					<span class="nav-text">
						{{ app.user.userIdentifier }}
					</span>
				</a>
			</li>

			<li class="has-subnav">
				<a href="{{ path('app_logout') }}">
					<i class="fa-solid fa-right-from-bracket fa-2x"></i>
					<span class="nav-text">
						Logout
					</span>
				</a>
			</li>
		{% else %}
			<li class="has-subnav">
				<a href="{{ path('app_login') }}">
					<i class="fa-solid fa-right-to-bracket fa-2x"></i>
					<span class="nav-text">
						Login
					</span>
				</a>
			</li>
		{% endif %}
	</ul>
</nav>
