<div class="area">  </div><nav class="main-menu">
            <ul>
                <li class="has-subnav"> 
                    <a href="{{ path('app_AdminBookController_list') }}">
                        <i class="fa-solid fa-book fa-2x"></i>
                        <span class="nav-text">
                            Our Library
                        </span>
                    </a>
                </li>

                <li class="has-subnav"> 
                    <a href="{{ path('app_AdminBookController_create') }}">
                        <i class="fa-solid fa-circle-plus fa-2x"></i>
                        <span class="nav-text">
                            Add new book
                        </span>
                    </a>
                </li>

                <li class="has-subnav"> 
                    <a href="{{ path('app_AdminUserController_list') }}">
                        <i class="fa-solid fa-user fa-2x"></i>
                        <span class="nav-text">
                            List of users
                        </span>
                    </a>
                </li>

                <li class="has-subnav"> 
                    <a href="{{ path('app_AdminUserController_create') }}">
                        <i class="fa-solid fa-circle-plus fa-2x"></i>
                        <span class="nav-text">
                            Add new user
                        </span>
                    </a>
                </li>

                <li class="has-subnav"> 
                    <a href="{{ path('app_AdminGenreController_list') }}">
                        <i class="fa-solid fa-scroll fa-2x"></i>
                        <span class="nav-text">
                            List of genres
                        </span>
                    </a>
                </li>

                <li class="has-subnav"> 
                    <a href="{{ path('app_AdminGenreController_create') }}">
                        <i class="fa-solid fa-circle-plus fa-2x"></i>
                        <span class="nav-text">
                            Add new genre
                        </span>
                    </a>
                </li>

                <li class="has-subnav"> 
                    <a href="{{ path('app_AdminAuthorController_list') }}">
                        <i class="fa-solid fa-feather fa-2x"></i>
                        <span class="nav-text">
                            List of Authors
                        </span>
                    </a>
                </li>

                <li class="has-subnav"> 
                    <a href="{{ path('app_AdminAuthorController_create') }}">
                        <i class="fa-solid fa-circle-plus fa-2x"></i>
                        <span class="nav-text">
                            Add new Author
                        </span>
                    </a>
                </li>

                <li class="has-subnav"> 
                    <a href="{{ path('app_AdminPublishingHouseController_list') }}">
                        <i class="fa-solid fa-house fa-2x"></i>
                        <span class="nav-text">
                            List of Publishing Houses
                        </span>
                    </a>
                </li>

                <li class="has-subnav"> 
                    <a href="{{ path('app_AdminPublishingHouseController_create') }}">
                        <i class="fa-solid fa-circle-plus fa-2x"></i>
                        <span class="nav-text">
                            Add new Publishing House
                        </span>
                    </a>
                </li>

                
            </ul>

            {# <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul> #}
        </nav>